@font-face {
    font-family: Druk Wide Cyr;
    src: url("./fonts/DrukWideCyrBold.otf") format('opentype');
}

@font-face {
    font-family: Druk Wide Cyr M;
    src: url("./fonts/DrukWideCyrMedium.otf") format('opentype');
}

.socials {
    margin-top: 24px;
    margin-bottom: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.socials a {
    margin-right: 24px;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 12.8px;

}

.upper-text {
    position: absolute;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    margin-left: 20px;

}

.upper-head-text {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12.8px;
    color: #C9FF55;
}

.upper-head-name {
    font-family: "Druk Wide Cyr";
    font-size: 31.25px;
    margin-top: 19px;
}

.upper-head-desc {
    margin-top: 8px;
    max-width: 408px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.upper-main {
    display: flex;
    margin-left: 900px;
}

.main-text {
    margin-top: 79px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text {
    font-family: "Druk Wide Cyr";
    font-size: 48.83px;
}

.text-description {
    text-align: center;
    max-width: 966px;
    margin-top: 32.17px;
    font-family: "Druk Wide Cyr M";
    font-size: 20px;
    color: gainsboro;
    line-height: 150%;
}

.text-description2 {
    text-align: center;
    max-width: 966px;
    margin-top: 32.17px;
    font-family: "Druk Wide Cyr M";
    font-size: 20px;
    color: white;
    line-height: 150%;
}

.zabud {
    color: white;
}

.word {
    color: #5855FF;
}

.advert {
    color: #C9FF55;
}

.buttons {
    margin-left: 10px;
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    margin-right: 24px;
    width: 302px;
    height: 63px;
    border-radius: 5px;
    color: #5855FF;
}

.btn-image {
    position: absolute;
    z-index: -1;

}

.btn-text {
    position: absolute;
    font-family: Montserrat;
    font-weight: 400;
    color: white;
    margin: 22px 103px;
    align-items: center;
    max-width: 97px;

    z-index: 1;
}

.btn-text2 {
    position: absolute;
    font-family: Montserrat;
    font-weight: 400;
    color: white;
    margin: 22px 72px;
    align-items: center;
    max-width: 158px;

    z-index: 1;
}

@media (max-width: 1440px) {
    .upper-main {
        margin-left: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

@media (max-width: 1250px) {
    .upper-main {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

@media (max-width: 1024px) {
    .text {
        font-size: 36px;
    }

    .text-description {
        font-size: 18px;
    }

    .text-description2 {
        font-size: 18px;
    }


}

@media (max-width: 768px) {
    .text {
        font-size: 32px;
    }

    .text-description {
        font-size: 16px;
    }

    .text-description2 {
        font-size: 16px;
    }

    .upper-head-text {
        /*//13*/
        font-size: 11px;
    }

    .upper-head-name {
        /*19*/
        font-size: 18px;
    }

    .upper-head-desc {
        /*16*/
        font-size: 15px;
    }
    .socials{
        margin-bottom: 150px;
    }

}

@media (max-width: 676px) {
    .text {
        font-size: 28px;
    }

    .text-description {
        font-size: 14px;
    }

    .text-description2 {
        font-size: 14px;
    }
    .buttons{
        margin-left: 50px;
    }
}
@media (max-width: 595px) {

    .text {
        font-size: 24px;
        margin-left: 25px;
    }

    .text-description {
        font-size: 13px;
        margin-left: 25px;
        text-align: center;
    }

    .text-description2 {
        font-size: 13px;
        margin-left: 25px;
        text-align: justify;
    }
    .buttons{
        margin-left: 50px;
        margin-left: 25px;
        flex-direction: column;
        align-items: center;
    }
    .button2{
        margin-top: 25px;
    }
    .upper-head-text {
        /*//13*/
        font-size: 10px;
    }

    .upper-head-name {
        /*19*/
        font-size: 17px;
    }

    .upper-head-desc {
        /*16*/
        font-size: 14px;
    }
}
@media (max-width: 529px) {
    .text {
        font-size: 20px;
        margin-left: 45px;
    }

    .text-description {
        font-size: 12px;
        margin-left: 45px;
    }

    .text-description2 {
        font-size: 12px;
        margin-left: 45px;
    }
    .buttons{
        margin-left: 60px;
        margin-left: 25px;
    }
    .upper-head-text {
        /*//13*/
        font-size: 10px;
    }

    .upper-head-name {
        /*19*/
        font-size: 17px;
    }

    .upper-head-desc {
        /*16*/
        font-size: 14px;
    }
}

@media (max-width: 467px) {
    .upper-main{
        margin-left: 65px;

    }
    .text {
        font-size: 17px;
        margin-left: 65px;
    }

    .text-description {
        font-size: 14px;
        margin-left: 85px;
    }

    .text-description2 {
        font-size: 14px;

    }
    .buttons{
        margin-left: 100px;
    }
    .socials{
        margin-bottom: 80px;
        margin-left: 75px;
    }


}
@media (max-width: 405px) {
    .upper-main{
        margin-left: 45px;

    }
    .text {
        font-size: 15px;

    }

    .text-description {
        font-size: 12px;
    }

    .text-description2 {
        font-size: 12px;
    }
    .buttons{
        margin-left: 50px;
    }
    .socials{
        margin-bottom: 100px;
    }
}
@media (max-width: 376px) {
    .upper-main{
        margin-left: 45px;

    }
    .text {
        font-size: 14px;

    }

    .text-description {
        font-size: 12px;
    }

    .text-description2 {
        font-size: 12px;
    }
    .buttons{
        margin-left: 100px;
    }
    .socials{
        margin-bottom: 100px;
    }
}


